@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #3b82f6;
  --color-bg-base: #09090b;
  --color-bg-surface: #18181b;
  --color-border: #27272a;
}

body {
  background-color: var(--color-bg-base);
  color: #fff;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
